<ion-view view-title="Info">
  <ion-content class="padding">
      <div class = "card">
          <div class = "item ">
             <h2>Para saber mais,veja nosso vídeo!</h2>
          </div>
       
          <div class = "item item-body">
              <div class="video-container"><iframe width="560" height="315" src="https://www.youtube.com/embed/svbqrHUVaJU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
                Não sabe se o link que você está vendo é falso ou verdadeiro? A gente te ajuda!
             Basta copiar que nossos robôs verificam             
          </div>
       </div>
  </ion-content>
</ion-view>
