<ion-view view-title="Compartilhar">
  <ion-content class="padding">
          <div class = "card">
              <div class = "item item-text-wrap">
                 <h2> Conte aos seus amigos!</h2>
                 <p> Ao compartilhar o SeLiga você ajuda a combater as notícias falsas na internet.</p>
              </div>
           </div>
    <div class="row">
      <div class="col text-center">
        <a class="button button-icon icon ion-social-facebook-outline"></a>
      </div>
      <div class="col text-center">

        <a class="button button-icon icon ion-social-twitter-outline"></a>
      </div>

    </div>
    <div class="row">
      <div class="col text-center">

        <a class="button button-icon icon ion-social-googleplus-outline"></a>
      </div>
      <div class="col text-center">

        <a class="button button-icon icon ion-social-whatsapp-outline"></a>
      </div>

    </div>
  </ion-content>
</ion-view>