<ion-tabs class="tabs-icon-top tabs-color-active-positive">

<ion-tab title="Links" icon-off="ion-ios-bookmarks-outline" icon-on="ion-ios-bookmarks" href="#/tab/links">
  <ion-nav-view name="tab-links"></ion-nav-view>
</ion-tab>

<ion-tab title="Dicas" icon-off="ion-ribbon-b" icon-on="ion-ribbon-b" href="#/tab/dicas">
  <ion-nav-view name="tab-dicas"></ion-nav-view>
</ion-tab>

  <ion-tab title="Info" icon-off=" ion-ios-information" icon-on=" ion-ios-information" href="#/tab/info">
    <ion-nav-view name="tab-info"></ion-nav-view>
  </ion-tab>

  

  <ion-tab title="Compartilhar" icon-off="ion-ios-redo-outline" icon-on="ion-ios-redo" href="#/tab/share">
    <ion-nav-view name="tab-share"></ion-nav-view>
  </ion-tab>
</ion-tabs>
